#Analyzing NYC Public School SAT Results by Borough

We want to analyze SAT scores across public schools in NYC to:

* Identify top-performing schools
* Compare borough-wise performance
* Spot missing/incomplete records

Recommend which boroughs or schools need attention

In [1]:
import sqlite3

In [2]:

# Create in-memory DB
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [3]:

# Enable foreign keys (optional)
cursor.execute("PRAGMA foreign_keys = ON;")

In [4]:

# Create schools table
cursor.execute("""
CREATE TABLE schools (
    school_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    borough TEXT NOT NULL
);
""")

# Create sat_scores table
cursor.execute("""
CREATE TABLE sat_scores (
    school_id INTEGER,
    reading_score INTEGER,
    math_score INTEGER,
    writing_score INTEGER,
    FOREIGN KEY (school_id) REFERENCES schools(school_id)
);
""")

conn.commit()

In [5]:
schools_data = [
    (1, 'Bronx Science High School', 'Bronx'),
    (2, 'Stuyvesant High School', 'Manhattan'),
    (3, 'Brooklyn Technical High School', 'Brooklyn'),
    (4, 'Queens High School for Sciences', 'Queens'),
    (5, 'Staten Island Technical HS', 'Staten Island'),
    (6, 'DeWitt Clinton HS', 'Bronx'),
    (7, 'Francis Lewis HS', 'Queens'),
    (8, 'Fort Hamilton HS', 'Brooklyn'),
    (9, 'Fiorello H. LaGuardia HS', 'Manhattan'),
    (10, 'Susan Wagner HS', 'Staten Island'),
    (11, 'Eagle Academy Bronx', 'Bronx'),
    (12, 'Hillcrest HS', 'Queens'),
    (13, 'James Madison HS', 'Brooklyn'),
    (14, 'Hunter College HS', 'Manhattan'),
    (15, 'Tottenville HS', 'Staten Island'),
    (16, 'Collegiate Institute Bronx', 'Bronx'),
    (17, 'Bayside HS', 'Queens'),
    (18, 'Midwood HS', 'Brooklyn'),
    (19, 'Beacon School', 'Manhattan'),
    (20, 'Port Richmond HS', 'Staten Island')
]

cursor.executemany("INSERT INTO schools VALUES (?, ?, ?);", schools_data)

In [6]:
sat_data = [
    (1, 700, 750, 730),
    (2, 680, 740, 710),
    (3, 670, 720, 690),
    (4, 640, 700, 680),
    (5, 660, 710, 700),
    (6, 550, 520, 510),
    (7, 590, 610, 600),
    (8, 560, 580, 570),
    (9, 600, 650, 640),
    (10, 580, 620, 610),
    (11, None, 530, 500),     # Missing reading
    (12, 490, None, 470),     # Missing math
    (13, 520, 510, 500),
    (14, 710, 760, 740),
    (15, 540, 560, None),     # Missing writing
    (16, 470, 500, 480),
    (17, 600, 620, 610),
    (18, 650, 690, 670),
    (19, 630, 710, 690),
    (20, 460, 480, 470)
]

cursor.executemany("INSERT INTO sat_scores VALUES (?, ?, ?, ?);", sat_data)
conn.commit()

In [10]:
import pandas as pd
print(pd.read_sql("SELECT COUNT(*) FROM schools", conn))
print(pd.read_sql("SELECT COUNT(*) FROM sat_scores", conn))

   COUNT(*)
0        20
   COUNT(*)
0        20

In [11]:
pd.read_sql_query("""
SELECT
  COUNT(*) AS total_records,
  SUM(CASE WHEN reading_score IS NULL THEN 1 ELSE 0 END) AS missing_reading,
  SUM(CASE WHEN math_score IS NULL THEN 1 ELSE 0 END) AS missing_math,
  SUM(CASE WHEN writing_score IS NULL THEN 1 ELSE 0 END) AS missing_writing
FROM sat_scores;
""", conn)

   total_records  missing_reading  missing_math  missing_writing
0             20                1             1                1

In [12]:
cursor.execute("""
CREATE VIEW clean_sat_scores AS
SELECT *
FROM sat_scores
WHERE reading_score IS NOT NULL
  AND math_score IS NOT NULL
  AND writing_score IS NOT NULL;
""")

In [14]:

print(pd.read_sql("SELECT COUNT(*) FROM clean_sat_scores", conn))

   COUNT(*)
0        17

## Top 5 Schools by Total SAT Score

In [15]:
query_top5 = """
SELECT
    s.name AS school_name,
    s.borough,
    sc.reading_score,
    sc.math_score,
    sc.writing_score,
    (sc.reading_score + sc.math_score + sc.writing_score) AS total_score
FROM schools s
JOIN sat_scores sc ON s.school_id = sc.school_id
WHERE sc.reading_score IS NOT NULL
  AND sc.math_score IS NOT NULL
  AND sc.writing_score IS NOT NULL
ORDER BY total_score DESC
LIMIT 5;
"""

pd.read_sql_query(query_top5, conn)

,school_name,borough,reading_score,math_score,writing_score,total_score
0,Hunter College HS,Manhattan,710,760,740,2210
1,Bronx Science High School,Bronx,700,750,730,2180
2,Stuyvesant High School,Manhattan,680,740,710,2130
3,Brooklyn Technical High School,Brooklyn,670,720,690,2080
4,Staten Island Technical HS,Staten Island,660,710,700,2070

## Borough-wise Average SAT Scores

Find the average SAT scores (Reading, Math, Writing) grouped by borough.
This tells us which boroughs are performing better on average.

In [16]:
query_borough_avg = """
SELECT
    s.borough,
    ROUND(AVG(sc.reading_score), 2) AS avg_reading,
    ROUND(AVG(sc.math_score), 2) AS avg_math,
    ROUND(AVG(sc.writing_score), 2) AS avg_writing,
    ROUND(AVG(sc.reading_score + sc.math_score + sc.writing_score), 2) AS avg_total_score
FROM schools s
JOIN sat_scores sc ON s.school_id = sc.school_id
WHERE sc.reading_score IS NOT NULL
  AND sc.math_score IS NOT NULL
  AND sc.writing_score IS NOT NULL
GROUP BY s.borough
ORDER BY avg_total_score DESC;
"""

pd.read_sql_query(query_borough_avg, conn)

         borough  avg_reading  avg_math  avg_writing  avg_total_score
0      Manhattan       655.00    715.00       695.00          2065.00
1         Queens       610.00    643.33       630.00          1883.33
2       Brooklyn       600.00    625.00       607.50          1832.50
3  Staten Island       566.67    603.33       593.33          1763.33
4          Bronx       573.33    590.00       573.33          1736.67

##  Best School Per Borough

In [17]:
query_best_per_borough = """
SELECT s.borough, s.name AS school_name,
       sc.reading_score, sc.math_score, sc.writing_score,
       (sc.reading_score + sc.math_score + sc.writing_score) AS total_score
FROM schools s
JOIN sat_scores sc ON s.school_id = sc.school_id
WHERE sc.reading_score IS NOT NULL
  AND sc.math_score IS NOT NULL
  AND sc.writing_score IS NOT NULL
  AND (sc.reading_score + sc.math_score + sc.writing_score) = (
      SELECT MAX(sc2.reading_score + sc2.math_score + sc2.writing_score)
      FROM schools s2
      JOIN sat_scores sc2 ON s2.school_id = sc2.school_id
      WHERE s2.borough = s.borough
        AND sc2.reading_score IS NOT NULL
        AND sc2.math_score IS NOT NULL
        AND sc2.writing_score IS NOT NULL
  )
ORDER BY s.borough;
"""

pd.read_sql_query(query_best_per_borough, conn)

,borough,school_name,reading_score,math_score,writing_score,total_score
0,Bronx,Bronx Science High School,700,750,730,2180
1,Brooklyn,Brooklyn Technical High School,670,720,690,2080
2,Manhattan,Hunter College HS,710,760,740,2210
3,Queens,Queens High School for Sciences,640,700,680,2020
4,Staten Island,Staten Island Technical HS,660,710,700,2070

## Incomplete SAT Reporting (Data Health Check)

Identify how many schools are missing SAT score fields:

Which score fields (Reading, Math, Writing) are most often missing?

Which boroughs have the most incomplete schools?

In [18]:
#Count missing values in each SAT column
query_missing_columns = """
SELECT
  SUM(CASE WHEN reading_score IS NULL THEN 1 ELSE 0 END) AS missing_reading,
  SUM(CASE WHEN math_score IS NULL THEN 1 ELSE 0 END) AS missing_math,
  SUM(CASE WHEN writing_score IS NULL THEN 1 ELSE 0 END) AS missing_writing
FROM sat_scores;
"""

pd.read_sql_query(query_missing_columns, conn)

   missing_reading  missing_math  missing_writing
0                1             1                1

In [19]:
## Schools with incomplete SAT records
query_incomplete_schools = """
SELECT s.name AS school_name, s.borough,
       sc.reading_score, sc.math_score, sc.writing_score
FROM schools s
JOIN sat_scores sc ON s.school_id = sc.school_id
WHERE sc.reading_score IS NULL
   OR sc.math_score IS NULL
   OR sc.writing_score IS NULL;
"""

pd.read_sql_query(query_incomplete_schools, conn)

,school_name,borough,reading_score,math_score,writing_score
0,Eagle Academy Bronx,Bronx,NaN,530.0,500.0
1,Hillcrest HS,Queens,490.0,NaN,470.0
2,Tottenville HS,Staten Island,540.0,560.0,NaN

In [20]:
#Count Incomplete Records by Borough

query_incomplete_by_borough = """
SELECT s.borough, COUNT(*) AS incomplete_schools
FROM schools s
JOIN sat_scores sc ON s.school_id = sc.school_id
WHERE sc.reading_score IS NULL
   OR sc.math_score IS NULL
   OR sc.writing_score IS NULL
GROUP BY s.borough
ORDER BY incomplete_schools DESC;
"""

pd.read_sql_query(query_incomplete_by_borough, conn)

         borough  incomplete_schools
0  Staten Island                   1
1         Queens                   1
2          Bronx                   1

## Complete vs Incomplete SAT Reporting  Overall Proportion

 Goal:
Get a summary of:

Total number of schools

Number of schools with complete SAT scores

Number of schools with incomplete SAT scores

% of complete data  a useful KPI in real-world data validation

In [21]:
query_completeness_summary = """
SELECT
  COUNT(*) AS total_schools,
  SUM(CASE
        WHEN reading_score IS NOT NULL AND math_score IS NOT NULL AND writing_score IS NOT NULL
        THEN 1 ELSE 0
      END) AS complete_schools,
  SUM(CASE
        WHEN reading_score IS NULL OR math_score IS NULL OR writing_score IS NULL
        THEN 1 ELSE 0
      END) AS incomplete_schools,
  ROUND(100.0 *
    SUM(CASE
          WHEN reading_score IS NOT NULL AND math_score IS NOT NULL AND writing_score IS NOT NULL
          THEN 1 ELSE 0
        END) / COUNT(*), 2) AS percent_complete
FROM sat_scores;
"""

pd.read_sql_query(query_completeness_summary, conn)

   total_schools  complete_schools  incomplete_schools  percent_complete
0             20                17                   3              85.0

##  Strategic Insights & Recommendations

Translate your SQL findings into real-world, decision-driven recommendations  the kind hiring managers love in portfolios.

 1. Top-Performing Schools
 Hunter College HS (Manhattan) had the highest total SAT score.

 Other top scorers: Bronx Science, Stuyvesant, Brooklyn Tech, and Beacon School.

 Recommendation: These schools can be used as benchmarks for academic performance across boroughs.

 2. Borough-Wise SAT Performance
 Manhattan had the highest average SAT scores ( 2063).

 Queens had the lowest average ( 1905).

 Recommendation:

Focus additional academic resources or coaching programs in Queens.

Study teaching strategies in Manhattans top schools for best-practice adoption.

 3. Incomplete Data Reporting
 3 out of 20 schools (15%) had missing SAT data

Affects Bronx, Queens, Staten Island

All 3 SAT sections had equal missing counts (1 each)

 Recommendation:

Establish stronger reporting compliance protocols

Run data completeness audits quarterly

Investigate why certain boroughs miss data  tech barriers? awareness? manual errors?

 4. Data Completeness Summary
 85% of schools had complete records  good baseline!

 But 15% incompleteness could skew high-stakes decisions.

 Recommendation:

Tag data as usable vs incomplete in dashboards.

Encourage schools to fix missing entries before submission deadlines.